@page "/"



<PageContent HeaderText="Index Page">
    
    <Box Title="Title Box">
        <BoxContent>
            <h1>Index Page</h1>
        </BoxContent>
            <BoxFooter>
                Footer
            </BoxFooter>
    </Box>
</PageContent>